@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
    outline: none;
}

body {
    background: #ffffff;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMYaEI35ZYo-adzmmT9YFawqdb6-5VgRZi3g&usqp=CAU);
}

nav {
    width: 1149px;
    position: absolute;
    height: 85px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2px 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    top: 0%;
    left: 0%;
    right: 0%;
}

nav .logo {
    font-size: 40px;
    margin-right: 38%;
    font-weight: 700;
    color: white;
}

#buyer-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 600px;
    left: 3%;
    margin-top: 12%;
    border: black;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-bottom: black;
}

.input-data {
    position: absolute;
    top: 2em;
    box-sizing: border-box;
    padding: 40px;
    width: 500px;
    height: 400px;
    padding-left: 180px;
}

h1 {
    font-weight: 300;
    font-size: 28px;
    padding-top: 2em;
    text-align: center;
    padding-bottom: 1.5em;
}

input[type="text"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="text"]:focus {
    border-bottom: 2px solid #4e4e4e;
    color: #000000;
    transition: 0.2s ease;
}

input[type="submit"] {
    margin-top: 6%;
    width: 80%;
    height: 15%;
    background: black;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
    margin-bottom: 5%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
    font-size: 14px;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.heading {
    text-align: center;
}