* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* Change your font family */
}

nav {
  width: 100%;
  position: absolute;
  height: 85px;
  background: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2px 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  top: 0%;
  left: 0%;
  right: 0%;
}

nav .logo {
  font-size: 40px;
  margin-right: 38%;
  font-weight: 700;
  color: white;
}

.ViewRecordTable {
  position: relative;
  margin: 5% auto;
  margin-top: 8%;
  background-clip: content-box;
}
.ViewRecordTable .arrow{
  width: 25px; 
  margin-left: 10%; 
  margin-top: 0.5%; 
  margin-bottom: 1%;
}
.ViewRecordTable a{
  text-decoration: none;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 650;
  font-size: 34px;
  padding-top: 25px;
  padding-left: 9.5em;
  padding-bottom: 1.5%;
  padding-right: 10em;
  text-align: center;
  background-clip: content-box;
}

h2 {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 18px;
  padding-top: 2em;
  text-align: center;
}

.content-table {
  border-collapse: collapse;
  margin: 0, auto;
  font-size: 0.9em;
  min-width: 700px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.content-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

body {
  background: #ffffff;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #e2e1e1;
}

.content-table th,
.content-table td {
  padding: 12px 50px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}
.ViewRecordTable a {
  color: rgb(150, 148, 148);
}

.input-data {
  position: absolute;
  top: 0.1px;
  box-sizing: border-box;
  padding: 40px;
  width: 500px;
  height: 400px;
  padding-left: 180px;
  margin-left: 19%;
}
.input-data a {
  text-decoration: none;
}

input[type="submit"] {
  width: 12%;
  height: 40px;
  background: black;
  border: none;
  border-radius: 6px 6px 6px 6px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  margin-left: 32%;
  margin-bottom: 2%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  box-shadow: 0 4px 6px rgba(48, 48, 48, 0.4);
  background: rgb(44, 44, 44);
  transition: 0.1s ease;
  font-size: 14px;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
