@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  background: #e2e1e1;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

nav {
  width: 1149px;
  position: absolute;
  height: 85px;
  background: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2px 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  top: 0%;
  left: 0%;
  right: 0%;
}

nav .logo {
  font-size: 40px;
  margin-right: 29%;
  font-weight: 700;
  color: white;
}

#book-box {
  position: relative;
  margin: 5% auto;
  width: 800px;
  height: 300px;
  left: 1%;
  margin-top: 12%;
  border: black;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-bottom: black;
}

.book-style h1 {
  font-weight: 500;
  font-size: 28px;
  padding-top: 2em;
  text-align: center;
}

.book-style h2 {
  margin-left: 34%;
  font-size: 16px;
}

.input-data {
  position: absolute;
  top: 2em;
  box-sizing: border-box;
  padding: 40px;
  width: 500px;
  height: 400px;
  padding-left: 180px;
  margin-left: 16%;
}

.input-data a {
  text-decoration: none;
}

input[type="submit"] {
  width: 50%;
  height: 15%;
  background: rgb(250, 247, 253);
  border: none;
  border-radius: 5px;
  color: rgb(8, 8, 8);
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  margin-top: 10%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  box-shadow: 0 4px 6px rgba(48, 48, 48, 0.4);
  background: rgb(44, 44, 44);
  transition: 0.1s ease;
  font-size: 14px;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.book-style img {
  background-image: url(src/images/libraryBook.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  left: 0px;
}
h1 {
  margin-top: 0.0023px;
}
h2 {
  font-size: 20px;
  margin-top: -12%;
  letter-spacing: 2px;
  color: white;
  text-align: left;
  margin-right: -100%;
  margin-left: -100%;
}
