* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Change your font family */
}

nav {
    width: 1149px;
    position: absolute;
    height: 85px;
    background: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2px 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    top: 0%;
    left: 0%;
    right: 0%;
}

nav .logo {
    font-size: 40px;
    margin-right: 38%;
    font-weight: 700;
    color: white;
}

.ViewRecordTable {
    position: relative;
    margin: 5% auto;
    margin-top: 8%;
    background-color: white;
    background-clip: content-box;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    padding-top: 2em;
    text-align: center;
    background-color: darkgrey;
    background-clip: content-box;
}

h2 {
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 18px;
    padding-top: 2em;
    text-align: center;
}

.content-table {
    border-collapse: collapse;
    margin: 0, auto;
    font-size: 0.9em;
    min-width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.content-table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMYaEI35ZYo-adzmmT9YFawqdb6-5VgRZi3g&usqp=CAU);
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

input[type="submit"] {
    margin-top: 5%;
    width: 9%;
    height: 40px;
    background: black;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
    margin-left: 45%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
    font-size: 14px;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}